


@model IEnumerable<System.Nullable<double>>
@{
    ViewBag.Title = "PriceLow";
}
<div id="12">
    @foreach (var item in Model)
    {
        @Html.CheckBox(item.ToString());
        <span>@item.ToString()</span>
        <b>&ensp;</b>
    }
</div>


